{% extends 'base.html' %}
{%block content%}
<h2>Join today!</h2>
<div class="container">
	<form method="post" action="{% url 'join' %}">
		{% csrf_token %}
  <div class="mb-3">
    
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="first name" name="fname"><br>
   
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="last name" name="lname"><br>

    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email"><br>

    <input type="password" class="form-control" id="exampleInputPassword1" name="password"><br>

    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="age" name="age"><br>

    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="address" name="address"><br>
   
    



  	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}